<%= render 'layouts/navbar'%>
<div class="ui centered grid">
<div class="ten wide column"
<div class="ui container">
  <div class="ui segments">
    <div class="ui segment orange inverted">
      <h3 align="center">
        Edit Profile of <%= resource_name.to_s.humanize %>
      </h3>
    </div>
    <div class="ui segment">
      <div class="description">

        <%= form_for(resource, as: resource_name, :class => 'ui form segment', url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
      </div>
      <div class="ui divider"></div>
      <div class='ui form segment'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
        <br/>

        <div class="ui divider hidden"></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %><br/>
        <i> (leave blank if you don't want to change it)
          <% if @minimum_password_length %></i>
          <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
          <br/><br/>
          <%= f.label :password_confirmation %><p>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <br/><br/>
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off"%>
          <br/>

          <center>
            <div class="actions">
              <%= f.submit "Update" , class: "ui primary submit button" %>
            </div>
            <% end %>

            <h3>Would you like to cancel your account?</h3>
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ui primary submit button" %></p>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
  </p>
