<div class="ui middle aligned container" id="loginbackground">
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui middle aligned segment">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "ui form segment" }) do |f| %>
        <%= devise_error_messages! %>
          <h3 align="center">Registration for Twitter</h3>
          <div class="ui divider"></div>

          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions" align="center">
            <%= f.submit "Sign up", :class=>"ui primary submit button" %>
            <%= link_to 'Login', new_user_session_path, :class=>"ui primary submit button"%>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
