<% if @tweets.exists? %>
<div class="ui segments">
  <% @tweets.each do |tweet| %>
    <div class="ui segment">
      <div class="ui sixteen wide grid">
        <div class="two wide column">
          <%= image_tag(tweet.user.avatar.thumb.url, :class => 'ui medium circular image' )%>
          <center><%= link_to tweet.user.username, profile_path(tweet.user)%></center>
        </div>
        <div class="fourteen wide column">
          <div class="row">
            <b><%= tweet.user.first_name %></b>
          </div>
          <div class="row">
            <%= tweet.body %>
          </div>

          <div class="ui fourteen wide grid">
            <div class="three wide column">
              <div id=<%= "likescount-#{tweet.id}" %> style="display: inline-block">
                <%= tweet.likes.count %> Likes
              </div>
              <div id=<%= "likes_link-#{tweet.id}"%>  style="display: inline-block" >
                <%= render partial: 'likes/likebutton', locals: { tweet: tweet } %>
              </div>
            </div>
            <div class="right floated two wide column">
              <% if tweet.user_id == current_user.id %>
                <%= link_to 'Show', tweet_path(tweet) %><br />
                <%= link_to 'Edit', edit_tweet_path(tweet) %><br />
              <% end %>
              <a class="reply">Reply</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>

