<% if @tweets.exists? %>
  <div class="ui segments">
    <% @tweets = @tweets.page(params[:page]).per(10) %>
    <% @tweets.each do |tweet| %>
      <div class="ui segment">
        <div class="ui sixteen wide grid">
          <div class="three wide column">
            <%= image_tag(tweet.user.avatar.thumb.url, :class => 'ui medium circular image' )%>
          </div>
          <div class="thirteen wide column">
            <div class="row">
              <div class="thirteen wide column">
                <div class="ui medium header">
                  <%= tweet.user.first_name %> <%= link_to '@'+tweet.user.username, profile_path(tweet.user)%>
                </div>
              </div>
            </div>
            <% if !tweet.retweet_id.nil? %>
              <div class="row">
                Retweeted:
              </div>
              <%= render partial: 'tweets/tweetspreview', locals: { tweet: Tweet.find(tweet.retweet_id) } %>
            <% end %>
            <div class="row">
              <div class="thirteen wide column">
                <%= tweet.body %>
              </div>
            </div>
            <div class="row">
              <div class="ui sixteen wide grid">

                <div class="ui sixteen wide column">
                  <div class="ui accordion">
                    <div class="title">
                      <i class="dropdown icon"></i>
                      Comments (<%= tweet.replys.count %>)
                    </div>
                    <div class="content">
                      <div class="ui comments">
                        <h3 class="ui dividing header">Comments </h3>
                        <% tweet.replys.each do |comment| %>
                          <div class="comment">
                            <a class="avatar">
                              <%= image_tag(tweet.user.avatar.thumb.url, :class => 'ui avatar image' )%>
                            </a>
                            <div class="content">
                              <a class="author"><%= User.find(comment.user_id).username %></a>
                              <div class="text"><%= comment.body %></div>
                            </div>
                          </div>
                        <% end %>
                        <br />
                        <div class="ui form">
                          <%= simple_form_for tweet.replys.build(), url:reply_index_path(tweet) do |f| %>
                          <div class='field'>
                            <%= f.input :body, as: :text, input_html: { rows: "2" }, label: "New Comment:" %><br/>
                          </div><br/>
                          <div>
                            <%= f.button :submit, class: 'ui primary submit icon button' %>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Actions Bar -->
                <div class="eight wide column" style="display:flex; flex-direction: row;">
                  <div id=<%= "likes_link-#{tweet.id}"%>>
                    <%= render partial: 'likes/likebutton', locals: { tweet: tweet } %>
                  </div>
                  <div style="margin-left: 5px;">
                    <%= link_to(retweet_tweet_path(tweet), remote: true, class: "ui label") do %>
                      <i class="retweet icon"></i>Retweet
                    <% end %>
                  </div>
                  <% if tweet.user_id == current_user.id %>
                    <div style="margin-left: 5px;">
                      <%= link_to 'Show', tweet_path(tweet), class: "ui label" %>
                    </div>
                    <div style="margin-left: 5px;">
                      <%= link_to 'Edit', edit_tweet_path(tweet), class: "ui label" %>
                    </div>
                    <div style="margin-left: 5px;">
                      <%= link_to 'Delete', tweet_path(tweet), method: :delete, data:{confirm: "Confirm?"}, class: "ui label" %>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
  $('.ui.accordion').accordion()
</script>
