<div id="retweet" class="hidden">
</div>
<%= render 'layouts/navbar'%>
<div class="ui container segments">
  <div class="ui sixteen wide centered grid">
    <div class="ui twelve wide column">
      <%= render 'profile/profile_header_stats' %>
    </div>
    <div class="ui twelve wide column">
      <% if flash[:notice] %>
        <div class="alert alert-warning" role="alert" style="border: solid 1px red;padding: 5px; color: red;border-radius: 3px; background-color: #ed7b7b">
          <%= flash[:notice] %>
        </div>
        <br />
      <% end %>
      <%= render 'list' %>
        <%= paginate @tweets %>
        <%= page_entries_info @tweets %>
    </div>
  </div>
</div>
