    <div class="ui segment">
      <div class="ui sixteen wide grid">
        <div class="ui four wide column">
          <center>
            <%= image_tag(@user.avatar.thumb.url, :class => 'ui medium circular image' )%>
          </center>
        </div>

        <div class="ui twelve wide column">
          <h1><%= @user.email %></h1>
          <% if  @user != current_user %>
            <% if @following %>
              <%= button_to 'Unfollow',
                  following_path(:following_id => @following.id),
                                  :method => :delete, :class => "ui button"%>
            <% else %>
              <%= button_to 'Follow',
                  profile_followings_path(:profile_id=> @user.id,
                                          :follower_id => current_user.id),
                                          :method => :post, :class => "ui button" %>
            <% end %>
          <% end %>

          <% following = "Following: #{@user.following.count}"%>
          <% followers = "Followers: #{@user.followers.count}"%>

          <br><%= link_to following.html_safe, get_following_profile_path(@user)%>
          <br><%= link_to followers.html_safe, get_followers_profile_path(@user)%>
          <br>
        </div>
      </div>
    </div>
