<%= render 'layouts/navbar'%>
<div class="ui container">"
  <div class="ui form">
    <%= simple_form_for @allusers, url: search_profile_index_path  do |f| %>
      <br/>
      <div class='field'>
        Search for : <%= f.text_field :first_name , as: :text %><br/>
      </div>
      <%= f.button :submit , "Search" ,  class: 'ui primary submit icon button' %>
    <% end %>
  </div>


  <table class="ui single line table">
    <tr>
      <th>Email</th>
    </tr>
    <% @user.each do |u| %>
      <tr>
      <td><%= link_to u.email , profile_path(u) %></td>
    </tr>
    <% end %>
  </table>
</div>
