  <div class="ui orange inverted pointing menu">

    <%= link_to 'Home', tweets_path, class: 'navbar-link item' %>
    <%= link_to 'Message', message_index_path, class: 'navbar-link item' %>
    <%= link_to 'Following', get_following_profile_path(current_user), class: 'navbar-link item' %>
    <%= link_to 'Followers', get_followers_profile_path(current_user), class: 'navbar-link item' %>
    <%= link_to 'Search User', search_profile_index_path, class: 'navbar-link item' %>

    <div class="right menu">
    <div class="ui simple dropdown item">
      <%= link_to "<i class='info icon'></i><div class='ui left pointing label'>1</div>".html_safe, root_path %>
      <div class="menu">
        <% current_user.mentioned_in_tweets.limit(5).each do |mentioned| %>
          <div class="item" id="popout"><%= link_to mentioned.user.username, profile_path(mentioned.user) %> mentioned you in a <%= link_to 'Tweet', tweet_path(mentioned.id) %>!</div>
        <% end %>
      </div>
    </div>
    <%= link_to "Welcome #{current_user.first_name}", profile_path(current_user), class: 'navbar-link item' %>
    <%= link_to 'Account Settings', edit_user_registration_path, class: 'navbar-link item' %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link item'   %>
    </div>
  </div>
