  <div class="ui orange inverted pointing menu">
  	<a class="item">
  		<%= link_to 'Home', tweets_path, :class=> 'navbar-link item' %>
  	</a>
    <a class="item">
      <%= link_to 'Message', message_index_path, :class=> 'navbar-link item' %>
    </a>

    <a class="item">
      <%= link_to 'Following', get_following_profile_path(current_user), :class=> 'navbar-link item' %>
    </a>

    <a class="item">
      <%= link_to 'Followers', get_followers_profile_path(current_user), :class=> 'navbar-link item' %>
    </a>
    <div class="right menu">
      <%= link_to "Welcome #{current_user.first_name}", profile_path(current_user), :class=> 'navbar-link item' %>
      <%= link_to 'Account Settings', edit_user_registration_path, :class => 'navbar-link item' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link item'   %>
    </div>
  </div>